{% extends "base.html" %}
{% block title %}Создание квиза{% endblock %}

{% block content %}
<h2>Создать квиз</h2>

<form method="POST">
    <fieldset class="quiz-form-fieldset">
        <legend class="quiz-form-legend">Название квиза</legend>
        
        <label for="quiz-name" class="quiz-form-label">
            Введите название:
        </label>
        <input type="text" id="quiz-name" name="name" class="quiz-form-input">
        
        <button type="submit" class="quiz-form-button">Сохранить квиз</button>
    </fieldset>
</form>

{% endblock %}